* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  min-width: 300px;
  flex-basis: 50%;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.header {
  background: radial-gradient(#fff, #f5ea4e);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.col-4:hover {
  transform: translateY(-5px);
}

.brands img {
  cursor: pointer;
  filter: grayscale(100%);
}

.brands img:hover {
  filter: grayscale(0);
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* footer CSS */
#footer-sub {
  background-color: #f3f7f8;
  border-top: 1px solid #dbdbdb;
}

#footer-main {
  background-color: #012b72;
}

#footer-sub h5 {
  color: #565656;
  margin-top: 25px;
}

#footer-sub ul {
  list-style: none;
  margin-top: 20px;
}

#footer-sub hr {
  margin: 5px;
}

#footer-sub ul li {
  margin-left: -38px;
}

#footer-sub a:link {
  text-decoration: none;
  color: #565656;
  font-size: 12px;
}

#footer-sub a:visited {
  text-decoration: none;
  color: #565656;
}

#footer-sub a:hover {
  text-decoration: none;
  color: blue;
}

#footer-sub a:active {
  text-decoration: none;
  color: #565656;
}

.vertical-line {
  border-right: 1px solid #dbdbdb;
  margin: 8px;
  padding: 0px;
}

#sub-two {
  margin: 0px;
  padding: 0px;
}

#sub-two .vertical-line h4 {
  color: #6d6c6c;
}

#footer-main ul {
  list-style: none;
}

#footer-main ul li {
  float: left;
  text-decoration: none;
  padding-left: 15px;
  margin-top: 17px;
}

#footer-main a:link {
  color: white;
  font-size: 12px;
}

#footer-main a:visited {
  color: white;
}

#footer-main a:hover {
  text-decoration: none;
  color: #00b9f5;
}

#footer-main a:active {
  color: white;
}

#social-menu {
  float: right;
  margin-right: 60px;
}

#side-padding {
  padding: 0px;
  margin: 0px;
}
