<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about-page.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container-upper">
            <div class="navbar">
                <div class="logo">
                    <a href="/home" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/user-page">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="inline">
                <div class="image-section">
                    <img src="images/about_us-body img.jpg" alt="null">
                </div>
                <div class="content-section">
                    <div class="content">
                        <h1><span>~</span style="color:green">About Us <span style="color:green">~</span></h1>
                        <h2>100% PURE NUTKART DRY FRIUTS</h2>
                        <p> "Our journey began in the winter of 2021 when our promoters from IT and banking background started working on Nutkhut. We launched Nutkhut January 2021 as a healthier alternative to snacking."
                            <div class="inline">
                                <div class="sub-content-section">
                                    <div class="sub-image-section">
                                        <img src="images/about_us small img1.jpg">
                                    </div>
                                    <div class="sub-content">
                                        <h5>Why Organic?</h5>
                                        <p> Yes, we do have some of our favourites Pistachio, Walnut, California Almonds, Red and Black Raisinare delicious and we snack on them daily.</p>
                                    </div>
                                </div>
                                <div class="sub-content-section">
                                    <div class="sub-image-section">
                                        <img src="images/about_us small img2.jpg">
                                    </div>
                                    <div class="sub-content">
                                        <h5>Why Organic?</h5>
                                        <p> Yes, we do have some of our favourites Pistachio, Walnut, California Almonds, Red and Black Raisinare delicious and we snack on them daily.</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-container">
                            <h2>Our Team IIITS</h2>
                            <p>Meet Our talented team</p>
                        </div>
                    </div>

                    <div class="inline">
                        <div class="col-md-3">
                            <div class="single-team">
                                <div class="team-img">
                                    <img src="images/madhur.jpg">
                                </div>
                                <div class="team-content">
                                    <div class="tean-info">
                                        <h3>Madhur saxena</h3>
                                        <p>student from IIIT</p>
                                    </div>
                                    <p class="team-text">Email: <br>madhur.s20@iiits.in</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-team">
                                <div class="team-img">
                                    <img src="images/prathik.jpg">
                                </div>
                                <div class="team-content">
                                    <div class="tean-info">
                                        <h3>pratik</h3>
                                        <p>student from IIIT</p>
                                    </div>
                                    <p class="team-text">Email: <br> pratik.b20@iiits.in</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-team">
                                <div class="team-img">
                                    <img src="images/Nithin.jpg">
                                </div>
                                <div class="team-content">
                                    <div class="tean-info">
                                        <h3>Nithin Angoth</h3>
                                        <p>student from IIIT</p>
                                    </div>
                                    <p class="team-text">Email: <br>nithin.a20@iiits.in</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-team">
                                <div class="team-img">
                                    <img src="images/pratham.jpg">
                                </div>
                                <div class="team-content">
                                    <div class="tean-info">
                                        <h3>pratham</h3>
                                        <p>student from IIIT</p>
                                    </div>
                                    <p class="team-text">Email: pratham.g20@iiits.in</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="single-team">
                                <div class="team-img">

                                    <img src="images/raj.jpg">
                                </div>
                                <div class="team-content">
                                    <div class="tean-info">
                                        <h3>Raj kunal</h3>
                                        <p>student from IIIT</p>
                                    </div>
                                    <p class="team-text">Email: rajkunal.a20@iiits.in</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="our-organization">
            <div class="container">
                <div class="inline">
                    <div class="organization-title">
                        <h3>Our organization</h3>
                        <div class="organization-desc">
                            <p>Nuts is a health food for body.we are providing the most expensive fresh nuts with our now formation of agriculture products.And all types f nuts like badam etc.. are useful items to be provide to our body for good health.
                            </p>
                        </div>
                        <a class="read-more" href="/contact-page">Contact Us >>></a>
                    </div>
                    <div class="organization-img">
                        <img src="images/about_us below img.jpg">
                    </div>
                </div>
            </div>
        </div>


    </div>

    <footer>
        <div class="footer-row">
            <div class="footer-col">
                <!-- <img src="images/footer-logo.png" class="logo" height="130px" width="130px"> -->
                <br>
                <br>

                <a href="/" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

            </div>
            <div class="footer-col">
                <h3>Office
                    <div class="underline"><span></span></div>
                </h3>
                <p>Gyan Circle</p>
                <p>Satyavedu, Chittoor</p>
                <p>Andhra Pradesh, PIN 517616, India</p>
                <p class="email-id">NutKarT@iiits.in</p>
                <h4>+91 1234567890</h4>
            </div>
            <div class="footer-col">
                <h3>Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/contact-page">Contact Us</a></li>
                    <li><a href="/blog-page">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Newsletter
                    <div class="underline"><span></span></div>
                </h3>
                <form class="footer-form">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" placeholder="Enter your email id" requireds>
                    <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
                </form>

                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!--<hr class="shine">-->
        <hr class="accessory">

        <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
    </footer>

</body>


</html>