<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/footer.css"> -->
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="/css/account-page.css">

    <!-- <script defer src="/js/validation.js"></script> -->

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="../images/logo.png" width="125px"> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <!-- <img src="images/cart.png" width="30px" height="30px"> -->
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <!-- account section -->

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form-container1">
                        <p>ADMIN</p>
                        <div class="form-btn1">
                            <span>login</span>
                            <hr id="indicator1">
                        </div>

                        <form id="loginform1" method="POST" action="/admin-page">
                            <input type="text" name="admin_username" placeholder="admin_username">
                            <input type="text" name="admin_password" placeholder="admin_password">
                            <button type="submit" class="btn">login</button>
                        </form>

                    </div>

                </div>


                <div class="col-2">
                    <div class="form-container">
                        <p>CUSTOMER</p>

                        <div class="form-btn">
                            <span onclick="login()">login</span>
                            <span onclick="register()">register</span>
                            <hr id="indicator">
                        </div>

                        <form id="loginform" method="POST" action="/login">
                            <input type="text" name="username" placeholder="username">
                            <input type="password" name="password" id="password" placeholder="password">
                            <button type="submit" class="btn">login</button>
                        </form>

                        <form id="regform" method="POST" action="/register">
                            <div id="error"></div>
                            <input id="username" type="text" name="username" placeholder="username">
                            <input id="email" type="email" name="email" placeholder="email">
                            <input id="mobile" type="text" name="mobile" placeholder="mobile">
                            <input id="password" type="password" name="password" placeholder="password">
                            <button type="submit" class="btn">register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!--javascript for toggle menu-->


    <script>
        const password = document.getElementById('password')
        const regformx = document.getElementById('regform')
        const errorElement = document.getElementById('error')
        const email = document.getElementById('email')
        const username = document.getElementById('username')


        regformx.addEventListener('submit', (e) => {
            let messages = []

            if (username.value === '' || username.value == null) {
                messages.push('Name is required')
            }

            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {

            } else {
                messages.push("You have entered an invalid email address!")
            }


            if (password.value.length <= 6) {
                messages.push('Password must be longer than 6 characters')
            }

            if (password.value.length >= 20) {
                messages.push('Password must be less than 20 characters')
            }

        })
    </script>


    <script>
        let menuitems = document.getElementById('menu-items');
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }

        // toggle form
        let loginform = document.getElementById('loginform')
        let regform = document.getElementById('regform')
        let indicator = document.getElementById('indicator')

        function register() {
            regform.style.transform = "translateX(0px)"
            loginform.style.transform = "translateX(0px)"
            indicator.style.transform = "translateX(100px)"
        }

        function login() {
            regform.style.transform = "translateX(300px)"
            loginform.style.transform = "translateX(300px)"
            indicator.style.transform = "translateX(0px)"
        }
    </script>

</body>

</html>