<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/account-page.css">


</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="../images/logo.png" width="125px"> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <!-- <img src="images/cart.png" width="30px" height="30px"> -->
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <!-- account section -->

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form-container1">
                        <p>ADMIN</p>
                        <div class="form-btn1">
                            <span>login</span>
                            <hr id="indicator1">
                        </div>

                        <form id="loginform1" method="POST" action="/admin-page">
                            <div id="admin_error_login"></div>
                            <input type="text" name="admin_username" id="admin_username" placeholder="admin_username">
                            <input type="text" name="admin_password" id="admin_password" placeholder="admin_password">
                            <button type="submit" class="btn">login</button>
                        </form>

                    </div>

                </div>


                <div class="col-2">
                    <div class="form-container">
                        <p>CUSTOMER</p>

                        <div class="form-btn">
                            <span onclick="login()">login</span>
                            <span onclick="register()">register</span>
                            <hr id="indicator">
                        </div>

                        <form id="loginform" method="POST" action="/login">
                            <div id="error_login"></div>
                            <input type="text" name="login_username" id="login_username" placeholder="username">
                            <input type="password" name="login_password" id="login_password" placeholder="password">
                            <button type="submit" class="btn">login</button>
                        </form>

                        <form id="regform" method="POST" action="/register">
                            <div id="error_register"></div>
                            <input id="register_username" type="text" name="register_username" placeholder="username">
                            <input id="email" type="email" name="email" placeholder="email">
                            <input id="mobile" type="text" name="mobile" placeholder="mobile">
                            <input id="register_password" type="password" name="register_password" placeholder="password">
                            <button type="submit" class="btn">register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script>
        const register_password = document.getElementById('register_password')
        const regformx = document.getElementById('regform')
        const error_register = document.getElementById('error_register')
        const email = document.getElementById('email')
        const register_username = document.getElementById('register_username')
        const mobile = document.getElementById('mobile')


        const login_password = document.getElementById('login_password')
        const error_login = document.getElementById('error_login')
        const login_username = document.getElementById('login_username')
        const loginx = document.getElementById('loginform')

        const admin_password = document.getElementById('admin_password')
        const admin_error_login = document.getElementById('admin_error_login')
        const admin_username = document.getElementById('admin_username')
        const login_form_admin = document.getElementById('loginform1')



        //  customer register validation

        regformx.addEventListener('submit', (e) => {
            let messages = []

            if (register_username.value === '' || register_username.value == null) {
                messages.push('Name is required')
            }

            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {

            } else {
                messages.push("You have entered an invalid email address!")
            }

            if (/^\d{10}$/.test(mobile.value)) {

            } else {
                messages.push("invalid mobile number")
            }

            if (register_password.value.length <= 6) {
                messages.push('Password must be longer than 6 characters')
            }

            if (register_password.value.length >= 20) {
                messages.push('Password must be less than 20 characters')
            }


            if (messages.length > 0) {
                console.log("length");
                e.preventDefault()
                error_register.innerText = messages.join(' , ')
            }

        })

        // customer login validation

        loginx.addEventListener('submit', (e) => {
            let messages = []

            if (login_username.value === '' || login_username.value == null) {
                messages.push('Name is required')
            }

            if (login_password.value.length <= 6) {
                messages.push('Password must be longer than 6 characters')
            }

            if (login_password.value.length >= 20) {
                messages.push('Password must be less than 20 characters')
            }

            if (messages.length > 0) {
                console.log("length");
                e.preventDefault()
                error_login.innerText = messages.join(' , ')
            }

        })

        // admin login validation 

        login_form_admin.addEventListener('submit', (e) => {
            let messages = []

            if (admin_username.value === '' || admin_username.value == null) {
                messages.push('Name is required')
            }

            if (admin_password.value.length <= 6) {
                messages.push('Password must be longer than 6 characters')
            }

            if (admin_password.value.length >= 20) {
                messages.push('Password must be less than 20 characters')
            }

            if (messages.length > 0) {
                console.log("length");
                e.preventDefault()
                admin_error_login.innerText = messages.join(' , ')
            }

        })
    </script>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById('menu-items');
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }

        // toggle form
        let loginform = document.getElementById('loginform')
        let regform = document.getElementById('regform')
        let indicator = document.getElementById('indicator')

        function register() {
            regform.style.transform = "translateX(0px)"
            loginform.style.transform = "translateX(0px)"
            indicator.style.transform = "translateX(100px)"
        }

        function login() {
            regform.style.transform = "translateX(300px)"
            loginform.style.transform = "translateX(300px)"
            indicator.style.transform = "translateX(0px)"
        }
    </script>

</body>

</html>