<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce website design</title>
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="/css/account-page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/footer.css"> -->

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="../images/logo.png" width="125px"> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <!-- <img src="images/cart.png" width="30px" height="30px"> -->
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>

    <!-- account section -->

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="form-container1">
                        <p>NEW ADMIN</p>
                        <div class="form-btn1">
                            <span>Register</span>
                            <hr id="indicator1">
                        </div>

                        <form id="regform1" method="POST" action="/register-admin">
                            <input type="text" name="admin_username" placeholder="username">
                            <input type="email" name="admin_email" placeholder="email">
                            <input type="text" name="admin_mobile" placeholder="mobile">
                            <input type="password" name="admin_password" placeholder="password">
                            <button type="submit" class="btn">register</button>
                        </form>
                    </div>

                </div>


                <!-- <div class="col-2">
                    <div class="form-container">
                        <p>CUSTOMER</p>

                        <div class="form-btn">
                            <span onclick="login()">login</span>
                            <span onclick="register()">register</span>
                            <hr id="indicator">
                        </div>

                        <form id="loginform" method="POST" action="/login">
                            <input type="text" name="username" placeholder="username">
                            <input type="text" name="password" placeholder="password">
                            <button type="submit" class="btn">login</button>
                        </form>

                        <form id="regform" method="POST" action="/register">
                            <input type="text" name="username" placeholder="username">
                            <input type="email" name="email" placeholder="email">
                            <input type="text" name="mobile" placeholder="mobile">
                            <input type="password" name="password" placeholder="password">
                            <button type="submit" class="btn">register</button>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById('menu-items');
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }
    </script>

    <script>
        // toggle form

        let loginform = document.getElementById('loginform')
        let regform = document.getElementById('regform')
        let indicator = document.getElementById('indicator')

        function register() {
            regform.style.transform = "translateX(0px)"
            loginform.style.transform = "translateX(0px)"
            indicator.style.transform = "translateX(100px)"
        }

        function login() {
            regform.style.transform = "translateX(300px)"
            loginform.style.transform = "translateX(300px)"
            indicator.style.transform = "translateX(0px)"
        }
    </script>



    <!-- <footer>
        <div class="footer-row">
            <div class="footer-col">
                <br>
                <br>

                <a href="/" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

            </div>
            <div class="footer-col">
                <h3>Office
                    <div class="underline"><span></span></div>
                </h3>
                <p>Gyan Circle</p>
                <p>Satyavedu, Chittoor</p>
                <p>Andhra Pradesh, PIN 517616, India</p>
                <p class="email-id">NutKarT@iiits.in</p>
                <h4>+91 1234567890</h4>
            </div>
            <div class="footer-col">
                <h3>Links
                    <div class="underline"><span></span></div>
                </h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">Account</a></li>
                    <li><a href="/contact-page">Contact Us</a></li>
                    <li><a href="/blog-page">Blog</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3>Newsletter
                    <div class="underline"><span></span></div>
                </h3>
                <form class="footer-form">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input type="email" placeholder="Enter your email id" requireds>
                    <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
                </form>

                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <hr class="accessory">

        <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
    </footer> -->
</body>

</html>