<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/admin-page.css" />

</head>

<body>
    <br />
    <br />
    <br />
    <div class="container">
        <p style="font-size: 40px; margin-left: 25px; font-weight: 500">
            DASHBOARD
        </p>
        <div class="small-container">
            <div class="row">
                <div class="col" id="col1">
                    <img src="images/user9.png" alt="" height="104px" width="95px" />

                    <button id="btn1">welcome <%= admin_name %></button>
                </div>
                <div class="col" id="col2">
                    <img src="images/user4.png" alt="" height="104px" width="95px" />

                    <button id="btn2">
              <a href=" /users " style="text-decoration: none"> USERS </a>
            </button>
                </div>
                <div class="col" id="col3">
                    <img src="images/user7.png " alt=" " height="104px " width="95px " />

                    <button id="btn3">
              <a href="/add-admin " style="text-decoration: none">
                ADD ADMIN
              </a>
            </button>
                </div>
                <div class="col" id="col4">
                    <img src="images/logout3.png " alt=" " height="104px " width="95px " />

                    <button id="btn4">
              <a href="/admin-logout " style="text-decoration: none">
                LOGOUT
              </a>
            </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col" id="col5">
                        <img src="images/orders2.jpg " alt=" " height="104px " width="95px " />

                        <button id="btn5">
                <a href="/orders " style="text-decoration: none"> ORDERS </a>
              </button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>