<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qubani ka Meetha</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <h1> Qubani ka Meetha</h1>
    <br>
    <div class="recipe">
        <p text align="center">
            A history of Hyderabadi cuisine.
        </p>
        <br>
        <h2>Ingredients</h2>
        <br>
        <ul>
            <li>25 to 28 dried apricots (khubani)</li>
            <li> 1 to 1.5 cup strained water from the soaked apricots</li>
            <li>1/2 cup cream cheese</li>
            <li>2 to 3 teaspoon sugar as required</li>
            <li>sliced almonds</li>

        </ul>
        <br>

        <h2> Preparation Time</h2>
        <br>
        <p text align="center">Takes about 15 minutes to get it ready and cooked</p>
        <br>
        <h2>Method</h2>
        <br>
        <ul>
            <li> Rinse a few times in fresh water and then soak 25 to 28 dried apricots overnight in 2 cups of water at room temperature or for 4 to 5 hours in 2 cups of warm water.</li>

            <li>Remove the apricots with a slotted spoon and keep the water aside. We will be using this water to make the khubani ka meetha. Press the softened apricots with your fingers and remove the seeds. You can also chop them if you prefer. Keep the
                hard kernels aside too.</li>
            <br>
            <div class="photo">
                <img src="blogimages/qkm.jpg" alt="">
            </div>

            <li> In a frying pan, add 1 cup of water which we have kept aside. The water has a beautiful golden color. Add the apricots to the water and allow to cook on a low flame.</li>
            <br>
            <div class="photo">
                <img src="blogimages/qkm1.jpg" alt="">
            </div>
            <li> The apricots in the meantime have started becoming soft and changing color. Stir occasionally and keep an eye on the apricots whilst they slow cook.You can mash the apricots while stirring.</li>
            <br>
            <div class="photo">
                <img src="blogimages/qkm2.jpg" alt="">
            </div>
            <li>Add 2 to 3 teaspoons sugar or as needed after 22 to 25 minutes. Stir and continue to cook till the mixture thickens a bit, approx 5 to 6 minutes on a low flame.Lastly add the almond like nuts got from the hard kernels. Instead of these nuts
                from the kernels you can also garnish with sliced almonds that have been blanched
            </li>
            <br>
            <div class="photo">
                <img src="blogimages/qkm3.jpg" alt="">
            </div>

            <li> Mix well. The Khubani ka Meetha is ready now. The consistency is neither too dry nor too runny. Serve Khubani ka Meetha, warm or chilled, plain or with some whipped cream.</li>
            <br>
            <div class="photo">
                <img src="blogimages/qkm4.jpg" alt="">
            </div>


        </ul>
        <br>


        <h2>Servings</h2>
        <p text align="center">It serves around 4 to 8 people.</p>
        <br>
        <br>
        <div class="youtube">
            <iframe width=50% height="400" src="https://www.youtube.com/embed/HWXkpBzw_Jo">
            </iframe>
        </div>
    </div>
</body>

</html>