<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="css/blogsnut.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/user-page">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <div class="container1">
        <div class="row">
            <div class="col-11">
                <img src="blogimages/diabetes1.jpg" alt="">
                <h4 class="blogh">Complete list of dry fruits for diabetes</h4>
                <p>Dehydrated Fruits, or, more commonly known as Dry Fruits, known for their wholesome values, really long shelf life, and great taste, have been in use since the Mesopotamia Civilization. </p>
                <a href="/blog1">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/datesfront.jpg" alt="">
                <h4 class="blogh">Medjool king of dates</h4>
                <p>Medjool confused right ? It is not a normal date, It’s not Coconut Tree, It’s a Palm Tree. It’s not a farm, it’s a grove.Growers call it “The labour of love” because this labour takes 7 </p>
                <a href="/blog2">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/gojiberriesfront.jpg" alt="">
                <h4 class="blogh">Why should you eat Goji berries?</h4>
                <p>Say hello to the super fruit known as Goji berries! You would be amazed to know that these lovely red-coloured berries can help you fight deadly diseases like cancer and diabetes. </p>
                <a href="/blog3">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/blog3front.jpg" alt="">
                <h4 class="blogh">Dry Fruits That You Must Eat For Weight Loss!</h4>
                <p>Weight loss begins in your kitchen! An individual spends hours in the gym but they may not see positive results because everyone has a different body structure. Different weight loss techniques work </p>
                <a href="/blog4">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/blueberryfront.jpg" alt="">
                <h4 class="blogh">Health Benefits of Dry Blueberries.</h4>
                <p>In India, we don’t really pay a lot of attention to blueberries and their health benefits. The only time you hear about its fan following is when it’s used in desserts like ice creams and cheesecakes.
                </p>
                <a href="/blog5">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/dryfruitsladdo.jpg" alt="">
                <h4 class="blogh">A healthy Sweet: Dry fruit Laddoos</h4>
                <p>Today We bring you a very healthy Sweet dish with a very easy recipe and the fun part almost no sugar involved ....ahh yes we are talking about dry fruit laddoos</p>
                <a href="/blog6">Read more</a>
            </div>
            <div class="col-11">
                <img src="blogimages/pineapple.jpg" alt="">
                <h4 class="blogh">The New breakfast partner: Pineapple and Apricot Jam</h4>
                <p>Tired of Eating so called natural jam which comes to your table from the shelves of supermarket with a artifical flavour.No worries we got your back we are here with recipe of Pineapple and Apricot Jam
                </p>
                <a href="/blog7">Read more</a>
            </div>

            <div class="col-11">
                <img src="blogimages/smoothie.jpg" alt="">
                <h4 class="blogh">Attention Smoothie Lovers: Apricot and Yoghurt Smoothie Coming up</h4>
                <p>Every time you think about smoothies you always remember unhealthy options like chocolate ,vanilla or strawberry but we all know how much fat it gives to us so let's see a healthier option presenting you Apricot and Yoghurt Smoothie </p>
                <a href="/blog8">Read more</a>
            </div>

            <div class="col-11">
                <img class="blog8" src="blogimages/qkm4.jpg" alt="">
                <h4 class="blogh">A Premium Desert: Qubani ka Meetha </h4>
                <p>Qubani ka Meetha also known as Khubani ka meetha is a popular sweet dish from Hyderabadi cuisine. This tangy sweet dessert is made from dried apricots, sugar and nuts having a compote like jammy consistency. Being warming to the body it
                    is a perfect dessert for a cold winter night.
                </p>
                <a href="/blog9">Read more</a>
            </div>



        </div>
    </div>

</body>

</html>