<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog5</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <div class="blog">
        <h1>Health Benefits of Dry Blueberries.</h1>
        <br>
        <br>
        <p>
            In India, we don’t really pay a lot of attention to blueberries and their health benefits. The only time you hear about its fan following is when it’s used in desserts like ice creams and cheesecakes. But what most of us don’t know is that dry blueberry
            is actually a super food with mind blowing health benefits. Though they are difficult to find in the Indian markets, good quality dried blueberry is available online. Here is our list of benefits that will make you run out and buy dry blueberries
            right away!
        </p>

        <br>
        <h2>Filled with antioxidants</h2>
        <br>
        <p>
            Blueberries are rich in antioxidants and hence helps protects our body from a variety of diseases, which includes cancer. Blueberry is the king of fruits and vegetables in the sense that it has the highest amount of antioxidants. Regular consumption of
            it is found to protect you from neurodegenerative, digestive and cardiovascular diseases.
        </p>
        <br>
        <br>
        <div class="photo">
            <img src="blogimages/blueberry.jpg" alt="">
        </div>

        <h2> Reverses the damage of a bad diet</h2>
        <br>
        <p>A research done on the effects of eating dry blueberries reported that they can eliminate the adverse effects of a bad diet (a high fat one). Their acidic nature also has a positive effect on blood pressure which is usually elevated in obese patients.
        </p>

        <br>
        <div class="photo">
            <img src="blogimages/blueberry1.jpg" alt="">
        </div>

        <h2> A dry blueberry a day keeps the doctor a day </h2>
        <br>
        <p>Consuming dry blueberries on a daily basis can enhance the body’s defense against bacterial infections and also reduce inflammation, reducing the risk of catching a cold or cough.</p>
        <br>


        <h2>Good for nervous and cardiac system</h2>
        <br>
        <p>
            Happy heart, happy you As they are rich in antioxidants, they keep your cholesterol level under control, enhance blood fat balance and also stop the clogging of arteries. It also promotes heart health by lowering blood pressure and reducing the risk of
            heart disease. Enhances brain health Regular intake of blueberries helps in enhancing brain health by improving memory and lowering the risk of cognitive diseases like Parkinson’s. This flavonoid rich fruit slows reduces the risk of developing
            cognitive diseases by a quarter compared to those who don’t consume blueberries.
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/blueberry3.jpg" alt="">
        </div>

        <h2>Rich in vitamins fibers and minerals</h2>
        <br>
        <p> Vitamin, fiber and mineral rich fruit Blueberries are high in Vitamin C and minerals like iron. Its low sugar content and bioactive compounds eliminate the negative effects of sugar on our body. Consuming dry blueberries help in digestion and
            prevents gut issues. Also dried blueberries are high in Vitamin K that plays an important role in bone health. Include a small portion of dried blueberry in your diet and cut down the risk of fractured bones by half!
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/blueberry4.jpg" alt="">
        </div>

        <br>
        <h2>Slows Down Aging</h2>
        <br>
        <p>
            Keeps you looking young and beautiful Ingesting dry blueberries can keep your skin looking young. As they are rich in antioxidants, they prevent the damage and dullness caused to skin due to aging and helps neutralize free radicals.</p>
        <br>
        <div class="photo">
            <img src="blogimages/blueberry5.jpg" alt="">
        </div>

        <p>
            So what are you waiting for? Buy dry blueberries online, sprinkle them on your oatmeal porridge or make a delicious fruit salad with it. Whatever way you choose to consume these delicious, goodness filled fruits, you will reap the miraculous benefits
            of it! Say bye to your health blues with blueberries!</p>
    </div>

</body>

</html>