<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog4</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <div class="blog">
        <h1>Dry Fruits = Energy + Weight Loss !!</h1>
        <br>
        <br>
        <p>
            Weight loss begins in your kitchen! An individual spends hours in the gym but they may not see positive results because everyone has a different body structure. Different weight loss techniques work differently for people. Person A may go to the gym and
            spend 2 hours each day to get fit but they may not see positive results. For some people, a balanced meal works wonders! Speaking of balanced meal, there are certain dry fruits which can help you to lose weight efficiently! As we said, it
            all begins in the kitchen! Here is a quick post for you which list the best dry fruit for weight loss. If you are tired of trying various weight loss techniques, you must include dry fruits in your diet and notice the visible changes!
        </p>
        <br>
        <h2>The List of Best Dry Fruits for Weight Loss</h2>
        <br>

        <h3>1.Dried Blueberries</h3>
        <br>
        <div class="photo">
            <img src="blogimages/blueberryb4.jpg" alt="">
        </div>
        <p>
            If you are looking for the best dry fruit for weight loss, you can include blueberries in your diet. These are widely available and you would be pleased to know that these are low in calories. The blueberry fruit contains the goodness of Vitamin C, fibre,
            powerful anti-oxidants and potassium. How does it help to lose weight? Well, these berries do not have any fat, sodium or cholesterol which is good for your body. You can make a delicious non-fat blueberry smoothie by combining yogurt and
            dried blueberries. Skip the sugar! Drink this twice in a day. The good part is that it promotes better digestion which leads to regular waste elimination. In fact it is also used for anti-aging! In a nutshell, blueberries are great for overall
            health.
        </p>
        <br>

        <h3>2.Dried Cranberries</h3>
        <br>
        <div class="photo">
            <img src="blogimages/cranberryb4.jpg" alt="">
        </div>
        <p>
            When you are on a journey towards weight loss, you must include fruits in your diet. Crash diets are not going to help you in a long run! How about trying dried cranberries? They are delicious and can be incorporated in your meals. The fruit is low in
            calories and you can include 1/3 cup in your daily diet. This dried fruit does not have any calories which mean you can drink it as a smoothie or add it to your salad. If you are looking for a dried for weight loss, dried cranberries are ideal
            because these are a better snack option as compared to chips and cookies. The dried cranberries contain dietary fibre which helps in keeping you away from cardio-vascular diseases
        </p>
        <br>

        <h3>3.Raisins</h3>
        <br>
        <div class="photo">
            <img src="blogimages/raisinsb4.jpg" alt="">
        </div>

        <p>
            Raisins are easily available in the market. In fact you can make them at home by drying the grapes. These can be used as substitutes of sugar. Yes! Sugar is a silent killer and makes you gain a lot of weight. If you are looking for a good weight loss
            program, you can add raisins to your diet. These little dry fruits are high in fibre and they are rich in natural sugar as well. Once you stop eating sugary coated food and include raisins in your diet, you will start losing weight!
        </p>
        <br>

        <h3>4.Dates</h3>
        <br>
        <div class="photo">
            <img src="blogimages/datesfront.jpg" alt="">
        </div>

        <p>
            Are dates good for weight loss? There is only one way to find that out! You must try it! The dates are high in fibre. Once you eat half a cup of chopped dates, your body will get 6 grams of fibre. Since they are high in calories, you must not eat too
            many dates.There is a saying that too much of anything is bad for your health and so, you must limit the intake of dates.
        </p>
        <br>
        <h3>5.Pistachios</h3>
        <br>
        <div class="photo">
            <img src="blogimages/pistab12.jpg" alt="">
        </div>

        <p>
            There are a number of nutrients present in this green nut! Pistachios contain abundant vitamins, minerals which help in controlling the blood sugar levels, antioxidants which actively fight against the extra fat and even boost your metabolism. All this
            ultimately speeds up your weight loss.
        </p>
        <br>



        <h3>Words from the Wise</h3>
        <br>
        <p>
            There are innumerable benefits of dried fruit which you may not be aware of! If your mission is to lose weight and feel lighter, you must add dried fruits in your diet! Do not go on crash diets! It may work for a week but you cannot stick to it for a
            long period of time. Our advice to you would be to have realistic goals and check your BMI to make a plan for yourself! You must exercise; eat 8 meals in a day which includes dried fruits! Once you follow this, you would be able to lose weight
            efficiently! Good luck!
        </p>

    </div>

</body>

</html>