<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apricot and Yoghurt Smoothie</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <h1>Apricot and Yoghurt Smoothie</h1>
    <br>
    <div class="recipe">
        <p text align="center">
            If you love smoothies, then you’re in for a treat with this cool and classic recipe
        </p>
        <br>
        <h2>Ingredients</h2>
        <br>
        <ul>
            <li> 1/4 cup almonds</li>
            <li> 1/4 cup cashews</li>
            <li> 1/4 cup raisins</li>
            <li>1/4 cup pistachios (shelled and unsalted)</li>
            <li>7 to 8 dates</li>
        </ul>
        <br>

        <h2> Preparation Time</h2>
        <br>
        <p text align="center">It takes just 5 minutes to get it ready and that’s the best part.</p>
        <br>

        <h2>Method</h2>
        <br>
        <ul>
            <li> Soak 3 to 4 dried figs in hot water for 30 minutes or in water at room temperature for 1 to 2 hours or more until they soften. If you have dried figs that are soft, then there is no need to soak them.</li>
            <br>
            <div class="photo">
                <img src="blogimages/smoothie2.jpg" alt="">
            </div>

            <li>Once the figs have softened roughly chop them. Then, roughly chop the dates and discard the seeds if any.
            </li>


            <li> Add all of the remaining nuts and dry fruitsand Add 1/2 cup chilled milk in a blender </li>
            <br>
            <div class="photo">
                <img src="blogimages/smoothie3.jpg" alt="">
            </div>

            <li>Blend to a semi-fine paste. You can make a fine paste if you prefer. If making for small kids, then make a very fine paste.</li>
            <br>
            <div class="photo">
                <img src="blogimages/smoothie4.jpg" alt="">
            </div>

            <li> Add the remaining 2 cups of milk. You can also add sugar if you like – about 1 to 2 tablespoons of raw sugar. In place of raw sugar, you can opt for coconut sugar or palm sugar.Blend again well.</li>
            <br>
            <div class="photo">
                <img src="blogimages/smoothie5.jpg" alt="">
            </div>

            <li> Pour the dry fruits milkshake into glasses and serve straightway. You can add some sliced nuts like almond or pistachios or a couple of saffron strands for garnishing if you like.</li>
            <br>
            <div class="photo">
                <img src="blogimages/smoothie6.jpg" alt="">
            </div>
        </ul>

        <h2>Servings</h2>
        <p text align="center">Serves about 1-2 people since it’s an instant smoothie.</p>
    </div>
    <br>
    <br>


    <div class="youtube">
        <iframe width=50% height="400" src="https://www.youtube.com/embed/19eIwQlp0n0">
        </iframe>
    </div>
</body>

</html>