<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dry Fruit Laddoos</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <div class="recipe">
        <h1>Dry Fruit Laddoos</h1>
        <p>A healthy recipe that involves no added sugar, it’s the perfect one for kids and serves ideally as a tasty mid-morning snack.
        </p>
        <br>
        <br>
        <h2>Ingredients</h2>
        <br>
        <ul>
            <li> 1/4 cup of cashews</li>
            <li> 1/4 cup of almonds</li>
            <li>1/4 cup of walnuts</li>
            <li>7 dates</li>
            <li>6 dried apricots</li>
            <li>4 dried figs</li>
            <li>Dried coconut (optional)</li>
            <li>Poppy seeds(optional)</li>
            <li>Sesame Seeds(optional)</li>
        </ul>

        <h2> Preparation Time</h2>
        <br>
        <p text align="center"> Prep time takes 10 minutes while you’ll need another 5 minutes to make the laddoos.</p>
        <br>
        <h2>Method</h2>
        <br>
        <ul>
            <li>For the prepping, you have to roast 1/4 cup almonds and 1/4 cup cashews on a medium flame for 2 minutes and dry roast the nuts in a microwave for 1 minute.
            </li>
            <br>
            <br>
            <div class="photo">
                <img src="blogimages/dryfruitsladdo1.jpg" alt="">
            </div>


            <li>
                Let them cool and roast seeds until you get the aroma. Heat 7 dates, 6 apricots, and 4 figs in a pan and after cooling.
            </li>
            <br>
            <br>
            <div class="photo">
                <img src="blogimages/dryfruitsladdo2.jpg" alt="">
            </div>


            <Li>
                Put them in a blender and keep it on until you notice the texture changing. You can add 1/4 cup walnuts to the mix and remove later, adding the cashews and almonds.
            </li>
            <br>
            <br>
            <div class="photo">
                <img src="blogimages/dryfruitsladdo3.jpg" alt="">
            </div>


            <li>
                For these dry fruit laddu recipes, all you do is take your prepared ingredients and knead them well. Divide the mix into 6 to 8 portion sizes and shape em’ into balls.
            </li>
            <br>
            <br>
            <div class="photo">
                <img src="blogimages/dryfruitsladdo4.jpg" alt="">
            </div>

            <li>
                For the garnish, roll up the balls on dried coconut powder or sesame seeds and you’re done.
            </li>
            <br>
            <br>
            <div class="photo">
                <img src="blogimages/dryfruitsladdo.jpg" alt="">
            </div>
        </ul>

        <h2>Servings</h2>
        <p>You get about 6 to 8 laddoos which are fairly good for snack times. Just remember to store in a food grade airtight jar though.</p>
        <br>
        <br>
        <div class="youtube">
            <iframe width=50% height="400" src="https://www.youtube.com/embed/wx7Dk4gQy5c">
            </iframe>
        </div>
        <br>
        <br><br>

    </div>
</body>

</html>