<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pineapple and Apricot Jam</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <h1>Pineapple and Apricot Jam</h1>
    <div class="recipe">
        <p>
            How would you like some pineapple and apricot jam with that breakfast toast? Here’s how to make it.
        </p>
        <br>
        <h2>Ingredients</h2>
        <ul>
            <li> Dried apricots</li>
            <li> 1 pineapple (whole)</li>
            <li>A pouch of liquid pectin</li>
            <li>7 cups of sugar</li>
            <li>1/4 cup of lemon juice</li>
        </ul>

        <h2> Preparation Time</h2>
        <br>
        <p text align="center"> Takes about 2 hours to prepare and a day to finish</p>
        <br>
        <h2>Method</h2>
        <br>
        <ul>
            <li> Soak the dried apricots overnight in a large bowl, the day before you plan to make the jam.</li>
            <br>
            <li> Drain the fluid in a colander and reserve 1/4 of soaking liquid.</li>
            <br>

            <li>Sterilize some half-pint jars to use them. Get a serrated knife and skin the whole pineapple and measure and cut into four diced cups.</li>
            <br>
            <div class="photo">
                <img src="blogimages/pineapple1.jpg" alt="">
            </div>

            <li> In a pot, add apricots, soaking liquid, and the pineapple. Heat on medium flame and stir. Lower the flame, cover and cook for 5 minutes until the mix softens.</li>
            <br>
            <div class="photo">
                <img src="blogimages/pineapple2.jpg" alt="">
            </div>
            <li> Take out the mix and pour into an immersion blender to blend to the desired consistency. Mix in lemon juice, pectin, and sugar. Add the mix to the pot and boil for about 2 minutes. Switch off the flame and skim the foam using a spoon.
            </li>
            <br>
            <div class="photo">
                <img src="blogimages/pineapple3.jpg" alt="">
            </div>
            <li> Pour your jam into the jars and place those on a canning kettle. Add water up to 1-inch less than the neck of the jars and boil for 10 minutes. Remove with a jar lifter and allow to cool, as long as it takes.</li>
            <br>
            <div class="photo">
                <img src="blogimages/pineapple4.jpg" alt="">
            </div>
            <li> Store your jam in the refrigerator after the jars cool down and use the jam whenever you want on toasts, salads, and other dishes.</li>
            <br>
            <div class="photo">
                <img src="blogimages/pineapple.jpg" alt="">
            </div>
        </ul>

        <h2>Servings</h2>
        <br>
        <p text align="center">If you use 11 pint-sized jars, you get enough servings to last a few weeks!</p>
    </div>
    <br>
    <br>

    <div class="youtube">
        <iframe width=50% height="400" src="https://www.youtube.com/embed/Qsu3rdTAKXc">
        </iframe>
    </div>
</body>

</html>