<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog2</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <div class="blog">
        <h1>Medjool:"King of Fruits and the Fruit of Kings"</h1>
        <br>
        <br>
        <div class="photo">
            <img src="blogimages/medjool1.jpg" alt="">
        </div>
        <br>
        <p>
            Medjool confused right ? It is not a normal date, It’s not Coconut Tree, It’s a Palm Tree. It’s not a farm, it’s a grove. Growers call it “The labour of love” because this labour takes 7 long years to bear fruit. But the outcome is truly an Opulence.
            Popularly known as “King of Fruits and the Fruit of Kings”, Medjool is soft, deep amber coloured, shimery, fleshy and extremely tasty. Comparatively bigger in size and packed with lot of nutrition, Medjool is one healthy date recommended for
            multiple reasons.
        </p>
        <br>
        <h2>A perfect replacement for your hunger pangs and instant energy booster:</h2>
        <br>
        <p>
            If you find yourself hungry in between meals or have been looking for snack to boost your energy levels instantly, then Medjool is one of the healthiest choice. The natural sugar Glucose and Fructose present in Medjool is quickly absorbed by the body
            and the energy level is seen increasing. It is also used as a pre- workout snack or a supplement for caffeine.
        </p>
        <br>

        <h2> Lower Risk of Heart Disease</h2>
        <br>
        <p>
            Medjool dates’ soluble fiber content lowers bad (LDL) cholesterol. Fiber binds with this cholesterol and prevents its absorption into your bloodstream. This keeps cholesterol’s fatty deposits from building up in your arteries, which reduces the risk of
            heart disease. Studies have shown that soluble fiber may also help control blood sugar levels and reduce blood pressure. Research has found that the antioxidants in Medjool dates may reduce triglycerides, a fat found in your blood. High levels
            of triglycerides can increase your risk of heart disease.
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/medjool3.jpg" alt="">
        </div>
        <br>
        <h2> Digestive Function</h2>
        <br>
        <p>
            Medjool dates also contain insoluble fiber, which is essential for healthy digestion. Eating enough insoluble fiber helps to prevent constipation and inflammation in the digestive tract. One study also found that insoluble fiber may help prevent colorectal
            cancer, but more research is needed.
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/medjool2.jpg" alt="">
        </div>

        <h2> Improved Metabolism</h2>
        <br>
        <p>
            The B vitamins in Medjool dates like pantothenic acid, folate, and niacin help manage the metabolic processes that convert food to energy. Research shows this can help to fight tiredness and fatigue. Studies have also shown that dates may reduce sugar
            absorption in our bodies. This can help lower blood sugar levels, which can aid in weight management and reduce the risk of diabetes.
        </p>
        <br>

        <h2> Highly Nutritious and Super food:</h2>
        <br>
        <p>
            Rich is Potassium, Proteins, Copper, Manganese and Iron, Medjool is rich in nutrients and minerals .Potassium reduces the risk of strokes, and also helps in growth of nervous system. High fibre levels is recommended for better digestive health and addresses
            issues of Constipation. Proteins in Medjool helps in muscular development and weight gain.Calcium, Magnesium, Manganese and copper works miracle on bone health. For the ones suffering from deficiency of iron in the body and blood related issues
            can consume Medjool as it is loaded with Iron.
        </p>
        <br>

        <h2>A perfect replacement for Sugar:</h2>
        <br>
        <div class="photo">
            <img src="blogimages/medjool4.jpg" alt="">
        </div>
        <p>
            Medjool is a perfect replacement for sugar. One can add this into milk shakes, smoothies, salads, purees, baking purpose and can also be consumed along with breakfast cereals.
        </p>
        <br>

        <h2>What is missing?</h2>
        <br>
        <p>
            Medjool is sodium and cholesterol free. Also this fruit doesn’t undergo any processing before it hits the market. It’s directly fetched from the groves and provided to the masses because it’s rich in all perspectives and doesn’t need any kind of processing.
            Hence 100% natural, healthy, nutritious and rich.
        </p>
    </div>






</body>

</html>