<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog3</title>
    <link rel="stylesheet" href="css/blog1.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <div class="blog">
        <h1>Goji Berries-Unique Red Fruit</h1>
        <br>
        <br>
        <p>
            Say hello to the super fruit known as Goji berries! You would be amazed to know that these lovely red-coloured berries can help you fight deadly diseases like cancer and diabetes. Goji berries are also known as wolf berries and some even call it, ‘Tibetan
            Goji’ or ‘Chinese wolf berries’. The Goji berries have been used by popular artists like Madonna and Miranda Kerr. You must be wondering as to how you can consume them and the number of health benefits. You have landed on the right page because
            we are going to tell you all about the health benefits of Goji berries. Why should you eat them? How would popping these berries help you to be healthy and fabulous? We have covered all that and more in this post! Take a look!
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/gojiberriesb32.jpg" alt="">
        </div>

        <h2>Are Goji Berries good for your health?</h2>
        <br>
        <p>
            The popular Goji Berries have been used as a Chinese medicine in the Ancient times. In fact, popular celebrities have used this natural berry to reap multiple benefits. The beautiful red berries have the power to boost your immune system and even protects
            your heart against the diseases. According to sources and various studies, Goji berries regresses diseases like cancer. In fact, it can even boost the brain activity. Goji berries contain Vitamin C, Vitamin A, antioxidants, Vitamin B2 and
            selenium. These berries are considered to be a fruit as well as an herb which was used by the Ancient Chinese. You can easily find them in European and Asian countries. However, these berries are sold in dried or packaged form in various other
            countries.
        </p>
        <br>
        <div class="photo">
            <img src="blogimages/gojiberriesb31.jpg" alt="">
        </div>

        <h2>The Health Benefits of Consuming Goji Berries</h2>
        <br>
        <p>
            <ul>
                <li> Goji berries help in fighting cancer because of the presence of physalin which kills the cancer cells. Since there is presence of Vitamin A, C and anti-oxidants, it can prevent skin cancer and other types of cancer.</li>
                <li> Majority of the people struggle to lose weight and the miracle red wolf berries can help you lose all the extra pounds efficiently! Since the berries are rich in anti-oxidants, it melts away the fat in your body. It can also help in reduce
                    sugary cravings which will aid in weight loss. It is packed with fibre which means that there would be a feeling of satiety and you will not binge on food. Isn’t that amazing?</li>
                <li> The Goji berries helps in boosting sexual health and fertility. It increases the testosterone levels in men which in turn improves sexual health. Some people believe that it can help those, who have erectile dysfunction.
                </li>
                <li> You can bid adieu to depression by popping in the red Goji berries. Since the berries are packed with nutrients, it can release positive energy. In fact, the berries were used in Chinese medicine to fight anxiety and depression. Why don’t
                    you try it to believe it?</li>
            </ul>
        </p>
        <br>
        <br>
        <div class="photo">
            <img src="blogimages/gojiberriesb33.jpg" alt="">
        </div>


        <h2> Final Verdict</h2>
        <br>
        <p>
            We hope you enjoyed reading this post! Goji berries are excellent for your health and you can reap multiple health benefits from these lovely red fruits! What are you waiting for? There are many other health benefits of these miracle berries:-
            <ul>
                <li>The berries help in the detoxification process.</li>
                <li>It can help in treating acne.</li>
                <li>It boosts hair growth.</li>
                <li>It balances the hormone in your body.</li>
            </ul>
        </p>
        <br>
        <br>
        <p>
            It is important to take care of your body! If you are trying to lose weight, treating acne or wish to bid adieu to depression then buy Goji berries and reap the benefits! These berries are wonderful for your body and you would be glad you took the decision
            to buy them!
        </p>
    </div>
</body>

</html>