<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/contact-page.css">


</head>

<body>
    <div class="header">
        <div class="container3">
            <div class="navbar">
                <div class="logo">
                    <!-- <a href="/"><img src="/images/logo.png" width="125px" /> </a> -->
                    <a href="/" style="font-size: 40px;font-weight: 900;">NutKart </a>

                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/user-page">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <section class="contact">
        <div class="content">
            <h3>Contact Us</h3>
            <p>~ * ~ We would love to hear from you ~ * ~</p>
        </div>

        <div class="container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h4>Address</h4>
                        <p>Gyan Circle, SriCity, Chittoor, Andhra Pradhesh</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h4>Phone</h4>
                        <p>+91 7987589471</p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h4>Email</h4>
                        <p>project.fsd@iiits.in</p>
                    </div>
                </div>
            </div>

            <div class="form">
                <form action="/contact-page" id="form" method="GET">
                    <h3>Send Message</h3>
                    <div class="inputbox">
                        <input type="text" name="" required="required" id="name">
                        <span>Full name</span>
                    </div>
                    <div class="inputbox">
                        <input type="email" name="" required="required" id="email">
                        <span>Email</span>
                    </div>
                    <div class="inputbox">
                        <textarea required="required" id="message"></textarea>
                        <span>Type your Message...</span>
                    </div>
                    <div class="inputbox">
                        <input type="submit" name="" value="Send">
                    </div>
                    <div id="error"></div>
                </form>
            </div>

        </div>

    </section>



    <script>
        const form = document.getElementById('form')
        const errorElement = document.getElementById('error')
        const email = document.getElementById('email')


        form.addEventListener('submit', (e) => {
            let messages = []


            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value)) {

            } else {
                messages.push("You have entered an invalid email address!")
            }
        })
    </script>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById('menu-items');
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }
    </script>


</body>

<footer>
    <div class="footer-row">
        <div class="footer-col">
            <!-- <img src="images/footer-logo.png" class="logo" height="130px" width="130px"> -->
            <br>
            <br>

            <a href="/" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

        </div>
        <div class="footer-col">
            <h3>Office
                <div class="underline"><span></span></div>
            </h3>
            <p>Gyan Circle</p>
            <p>Satyavedu, Chittoor</p>
            <p>Andhra Pradesh, PIN 517616, India</p>
            <p class="email-id">NutKarT@iiits.in</p>
            <h4>+91 1234567890</h4>
        </div>
        <div class="footer-col">
            <h3>Links
                <div class="underline"><span></span></div>
            </h3>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/user-page">Account</a></li>
                <li><a href="/contact-page">Contact Us</a></li>
                <li><a href="/blog-page">Blog</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Newsletter
                <div class="underline"><span></span></div>
            </h3>
            <form class="footer-form">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <input type="email" placeholder="Enter your email id" requireds>
                <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
            </form>

            <div class="social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!--<hr class="shine">-->
    <hr class="accessory">

    <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
</footer>

</html>