<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Responsive Homepage design with Bootstrap and Animate css</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.6.2/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
                    <a class="navbar-brand" href="/home">NutKart</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="/user-page">account</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="banner" style="background-image: url(images/banner2.jpg)"></div>
                    <div class="carousel-caption">
                        <h2 class="animated bounceInRight" style="animation-delay: 1s">
                            We Are <span>NutKart</span>
                        </h2>
                        <h3 class="animated bounceInLeft" style="animation-delay: 2s">
                            Healthy and Tasty Dried Fruits
                        </h3>
                        <p class="animated bounceInRight" style="animation-delay: 3s">
                            <a href="#">About Us</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="banner" style="background-image: url(images/banner1.jpg)"></div>
                    <div class="carousel-caption">
                        <h2 class="animated slideInDown" style="animation-delay: 1s">
                            Your Health is our <span>Priority</span>
                        </h2>
                        <h3 class="animated fadeInUp" style="animation-delay: 2s">
                            Read More about Health in our Blogs
                        </h3>
                        <p class="animated zoomIn" style="animation-delay: 3s">
                            <a href="#">Blogs</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="banner" style="background-image: url(images/banner3.jpg)"></div>
                    <div class="carousel-caption">
                        <h2 class="animated zoomIn" style="animation-delay: 1s">
                            Excellent Quality <span>Lowest Prices</span>
                        </h2>
                        <h3 class="animated fadeInLeft" style="animation-delay: 2s">
                            One Stop Solution for All Dried Fruits
                        </h3>
                        <p class="animated zoomIn" style="animation-delay: 3s">
                            <a href="/products2">Products</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <br>
    <br>

    <!--=================== products section======================== -->

    <div class="small-container">
        <h1 class="title">featured products</h1>
        <div class="row">
            <div class="col-4">
                <img src="images/greenfinity-roasted-pistachio1.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/nutty-sports2.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/nutraj-walnut1.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/tata-almonds1.jpg" alt="">
                <h4></h4>
            </div>
        </div>
    </div>

    <!-- -------latest products------- -->

    <div class="small-container">
        <h1 class="title">latest products</h1>
        <div class="row">
            <div class="col-4">
                <img src="images/happilo-omani-dates1.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/happilo-supermix-berries1.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/namo-brazil-nuts1.jpg" alt="">
                <h4></h4>
            </div>
            <div class="col-4">
                <img src="images/rostaa-hazelnut1.jpg" alt="" height="200px">
                <h4></h4>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


<footer>
    <div class="footer-row">
        <div class="footer-col">
            <!-- <img src="images/footer-logo.png" class="logo" height="130px" width="130px"> -->
            <br>
            <br>

            <a href="/" style="font-size: 40px;font-weight: 900;color: #fff;">NutKart </a>

        </div>
        <div class="footer-col">
            <h3>Office
                <div class="underline"><span></span></div>
            </h3>
            <p>Gyan Circle</p>
            <p>Satyavedu, Chittoor</p>
            <p>Andhra Pradesh, PIN 517616, India</p>
            <p class="email-id">NutKarT@iiits.in</p>
            <h4>+91 1234567890</h4>
        </div>
        <div class="footer-col">
            <h3>Links
                <div class="underline"><span></span></div>
            </h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/contact-page">Contact Us</a></li>
                <li><a href="/blog-page">Blog</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Newsletter
                <div class="underline"><span></span></div>
            </h3>
            <form class="footer-form">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <input type="email" placeholder="Enter your email id" requireds>
                <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>                    </button>
            </form>

            <div class="social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!--<hr class="shine">-->
    <hr class="accessory">

    <p class="copyright">NutKART © 2022 - All Rights Reserved</p>
</footer>

</html>