<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/users.css">
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>
    <h2>ORDERS</h2>
    <table border="1">
        <tr>
            <th>
                username
            </th>
            <th>
                email
            </th>
            <th>
                poductname
            </th>
        </tr>

        <% ordersdata.forEach(function (order) { %>
            <tr>
                <td>
                    <%= order.username %>
                </td>
                <td>
                    <%= order.product_name %>
                </td>

            </tr>
            <% }) %>
    </table>


</body>

</html>