<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/order-placed.css" />
    <title>Order Placed Successfully</title>
</head>

<body>
    <img src="images/delivery.jpg" class="center" />
    <br />
    <br />
    <div class="text">Your Order Has Been Placed</div>
    <div class="wrapper">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path
          class="checkmark__check"
          fill="none"
          d="M14.1 27.2l7.1 7.2 16.7-16.8"
        />
      </svg>
    </div>
    <a href="/products2">
        <button class="button1" type="button">
        Continue Shopping
      </button>
    </a>
</body>

</html>