<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/images/NutKART.ic" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="/css/style.css" />

    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="../images/logo.png" width="125px" />
                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products2">Products</a></li>
                        <li><a href="/about-page">About</a></li>
                        <li><a href="/contact-page">Contact</a></li>
                        <li><a href="/user-page">Account</a></li>
                    </ul>
                </nav>

                <img src="/images/cart.png" width="30px" height="30px" />
                <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>
    <!-- ---------------single product detail------ -->

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="<%= imgsrc %>" width="100%" id="ProductImg" />
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/nutty mixedberries2.jpg" class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="images/nutty mixedberries.jpg" class="small-img" />
                    </div>
                    <div class="small-img-col">
                        <img src="images/nutty mixedberries3.jpg" class="small-img" />
                    </div>
                </div>
            </div>
            <div class="col-2">
                <h1>High Quality Mix Berries by Nutty Gritties</h1>
                <h4>Rs. 250</h4>
                <select>
            <option>Select Quantity</option>
            <option>250 grams</option>
            <option>500 grams</option>
            <option>1 kilogram</option>
          </select>
                <input type="number" value="1" />
                <a href="/cart" class="btn">Add to Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br />
                <p>
                    Give your body the joy of eating healthy along with awesome taste with our high quality mixedberries.
                </p>
            </div>
        </div>
    </div>

    <!-- --title -->

    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>

    <!-- ---products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="images/hapillo rasin.jpg" id="abc" alt="" />
                <h4>Happilo Rasin</h4>
                <p>Rs. 380/-</p>
            </div>
            <div class="col-4">
                <img src="images/nutty mixedberries.jpg" height="250px" alt="" />
                <h4>Nutty Mixedberries</h4>
                <p>Rs. 400/-</p>
            </div>
            <div class="col-4">
                <img src="images/nutty sports.jpg" alt="" />
                <h4>Nutty Sports</h4>
                <p>Rs. 420/-</p>
            </div>
            <div class="col-4">
                <img src="images/pistachio-sld1.png" alt="" />
                <h4>Pistachio</h4>
                <p>Rs. 350/-</p>
            </div>
        </div>
    </div>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById("menu-items");
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }
    </script>

    <!-- --js for product gallery-- -->
    <script>
        let ProductImg = document.getElementById("ProductImg");
        let SmallImg = document.getElementsByClassName("small-img");

        SmallImg[0].onclick = function() {
            ProductImg.src = SmallImg[0].src;
        };
        SmallImg[1].onclick = function() {
            ProductImg.src = SmallImg[1].src;
        };
        SmallImg[2].onclick = function() {
            ProductImg.src = SmallImg[2].src;
        };
    </script>

    <!-- -----------footer--------- -->
    <footer>
        <div style="min-height: 250px" class="footer" id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>HELP</h5>
                        <ul>
                            <li>
                                <a href="/orders">Previous Orders</a>
                                <hr />
                            </li>
                            <li>
                                <a href="">HelpDesk</a>
                                <hr />
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>NutKART</h5>
                        <ul>
                            <li>
                                <a href="/about-page">About Us</a>
                                <hr />
                            </li>
                            <li><a href="/contact-page">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>MISC</h5>
                        <ul>
                            <li>
                                <a href="/products2">Products</a>
                                <hr />
                            </li>
                            <li>
                                <a href="/blog-page">Blogs</a>
                                <hr />
                            </li>
                        </ul>
                    </div>
                </div>

                <hr style="margin-bottom: 0px; margin-top: 30px; padding: 0px" />
                <div class="row" id="sub-two">
                    <div class="col-md-4">
                        <div class="vertical-line text-center">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <h4>HASSLE FREE SHOPPING</h4>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="vertical-line text-center">
                            <span class="glyphicon glyphicon-refresh"></span>
                            <h4>FREE & EASY RETURNS</h4>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="margin: 8px" class="text-center">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <h4 style="color: #6d6c6c">HEALTHY DRY FRUITS</h4>
                        </div>
                    </div>
                </div>
                <hr style="margin-bottom: 30px; margin-top: 0px; padding: 0px" />
            </div>
        </div>

    </footer>
</body>

</html>