<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <link rel="icon" type="image/x-icon" href="/images/logo.png" /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&family=Roboto&display=swap" rel="stylesheet" />
</head>



<body>


    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"><img src="/images/logo.png" width="125px" /> </a>
                </div>
                <nav>
                    <ul id="menu-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account">Account</a></li>
                    </ul>
                </nav>

                <img src="images/cart.png" width="30px" height="30px" />
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()" />
            </div>
        </div>
    </div>

    <br>

    <div class="small-container">
        <div class="row row-2">
            <h2>All products</h2>
            <br />
            <br />
            <br>
            <br>
            <select name="" id="">
          <option value="">defaut sorting</option>
          <option value="">sort by price</option>
          <option value="">sort by popularity</option>
          <option value="">sort by rating</option>
          <option value="">sort by sale</option>
          <!-- -----------work left here for css--------- -->
        </select>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- <a href="/productdetail/granola-mix"> <img src="images/granola-mix.jpg" /> </a> -->
                <a href="/productdetail/<%= product_name %>"> <img src="<%= imgsrc %>" /> </a>
                <h4>Granola Mix</h4>
                <p>Rs. 120/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/happilo-cashew"><img src="images/happilo-cashew.jpg" /></a>
                <h4>Happilo Cashews</h4>
                <p>Rs. 250/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/happilo-gojiberries2"><img src="images/happilo-gojiberries2.jpg" alt="" /></a>
                <h4>Happilo gojiberries</h4>
                <p>Rs. 350/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/happilo-pista1"><img src="images/happilo-pista1.jpg" alt="" /></a>
                <h4>Happilo Pista</h4>
                <p>Rs. 380/-</p>
            </div>
        </div>
    </div>

    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <a href="/productdetail/happilo-pista2"><img src="images/happilo-pista2.jpg" alt="" /></a>

                <h4>Happilo Rasin</h4>
                <p>Rs. 380/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-mixedberries"><img src="images/nutty-mixedberries.jpg" height="250px" alt="" /></a>

                <h4>Nutty Mixedberries</h4>
                <p>Rs. 400/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-sports"><img src="images/nutty-sports.jpg" alt="" /></a>
                <h4>Nutty Sports</h4>
                <p>Rs. 420/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/pista"><img src="images/pista.png" alt="" /></a>

                <h4>Pistachio</h4>
                <p>Rs. 350/-</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="/productdetail/nuts-almond"><img src="images/nuts-almond.png" alt="" /></a>
                <h4>Almonds</h4>
                <p>Rs. 279/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nuts-almond"><img src="images/nutty-mixedberries3.jpg" alt="" /></a>

                <h4>Nutty Mixedberries Small</h4>
                <p>Rs. 200/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/happilo-pista2"><img src="images/happilo-pista2.jpg" alt="" /></a>

                <h4>Happilo Pista Small</h4>
                <p>Rs. 150/-</p>
            </div>
            <div class="col-4">
                <a href="/productdetail/nutty-sports3"><img src="images/nutty-sports3.jpg" alt="" /></a>
                <h4>Nutty Sports Small</h4>
                <p>Rs. 180/-</p>
            </div>
        </div>
    </div>

    <!--javascript for toggle menu-->

    <script>
        let menuitems = document.getElementById("menu-items");
        menuitems.style.maxHeight = "0px";

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px";
            } else {
                menuitems.style.maxHeight = "0px";
            }
        }

        // image changing using data base

        // document.getElementById('product_image')
    </script>

    <!-- -----------footer--------- -->
    <footer>
        <div style="min-height: 250px" class="footer" id="footer-sub">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>HELP</h5>
                        <ul>
                            <li>
                                <a href="">Previous Orders</a>
                                <hr />
                            </li>
                            <li>
                                <a href="">HelpDesk</a>
                                <hr />
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>NutKART</h5>
                        <ul>
                            <li>
                                <a href="">About Us</a>
                                <hr />
                            </li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h5>MISC</h5>
                        <ul>
                            <li>
                                <a href="">Products</a>
                                <hr />
                            </li>
                            <li>
                                <a href="">Blogs</a>
                                <hr />
                            </li>
                        </ul>
                    </div>
                </div>

                <hr style="margin-bottom: 0px; margin-top: 30px; padding: 0px" />
                <div class="row" id="sub-two">
                    <div class="col-md-4">
                        <div class="vertical-line text-center">
                            <span class="glyphicon glyphicon-map-marker"></span>
                            <h4>HASSLE FREE SHOPPING</h4>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="vertical-line text-center">
                            <span class="glyphicon glyphicon-refresh"></span>
                            <h4>FREE & EASY RETURNS</h4>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div style="margin: 8px" class="text-center">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <h4 style="color: #6d6c6c">HEALTHY DRY FRUITS</h4>
                        </div>
                    </div>
                </div>
                <hr style="margin-bottom: 30px; margin-top: 0px; padding: 0px" />
            </div>
        </div>
        <div style="min-height: 50px" id="footer-main">
            <ul>
                <li>
                    <a href=""><b>About Us</b></a>
                </li>
                <li>
                    <a href=""><b>Terms & Conditions</b></a>
                </li>
                <li>
                    <a href=""><b>Blog</b></a>
                </li>
            </ul>

            <div id="social-menu">
                <ul>
                    <li>
                        <a href=""><img style="max-width: 18px; margin-top: -7px" src="" /></a>
                    </li>
                    <li>
                        <a href=""><img style="max-width: 18px; margin-top: -7px" src="" /></a>
                    </li>
                    <li>
                        <a href=""><img style="max-width: 18px; margin-top: -7px" src="" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>