body {
    background-image: url('/images/banner2.jpg');
    height: 100vh;
    background-size: cover;
}

.container {
    max-width: 1300px;
    margin-left: 25px;
    margin-right: 25px;
    margin: auto;
}

.row {
    column-gap: 20px;
    display: flex;
    align-items: center;
    border-width: 2px solid;
    border-color: black;
    justify-content: space-between;
    margin-top: 20px;
}

.small-container {
    display: block;
    max-width: 2000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    row-gap: 50px;
}

.col {
    align-items: center;
    display: inline;
    display: flex;
    min-width: 100px;
    min-height: 100px;
    flex-basis: 50%;
    /* border: 2px solid greenyellow; */
    max-width: 200px;
    max-height: 200px;
}

body {
    font-family: "Poppins", sans-serif;
}

body a {
    color: #fff;
}

p {
    color: #fff;
}

h2 {
    color: #fff;
}

button {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
}

#btn1 {
    background: #E91E63;
}

#btn2 {
    background: #00BCD4;
}

#btn3 {
    background: #FF9800;
}

#btn4 {
    background: #8BC34A;
}

#btn5 {
    background: #607D8B;
}