/* *============== home and products ================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Island Moments', cursive; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    /* color: #555; */
    color: #fff;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}



.header {
    /* background: radial-gradient(#fff, #f5ea4e); */
    /* background: radial-gradient(#fff, #B8B8B8); */
    /* background: #fff; */
    background: url('/blogimages/bolgback1.jpg');
}


.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-------------------------------- media query-------------------------------------- */

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: Pointer;
    }
}


/* media query for less than 600 size (android devices) */

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
}